<div class="form">
  <form [formGroup]="form">
    <ng-container *ngFor="let group of groups">

      <ng-container *ngFor="let line of group.lines">
        <div class="lines">
          <div *ngFor="let field of line.fields"
            [fxFlex]="field.width!"
            class="field">

              <mat-form-field
                fxFlex="100">
                <mat-label>{{field.label!}}</mat-label>
                <input matInput
                  [name]="field.ref"
                  [placeholder]="field.placeholder!"
                  [type]="field.inputType!">
              </mat-form-field>

          </div>
        </div>
      </ng-container>

    </ng-container>
  </form>
</div>
