<app-menu></app-menu>
<div class="container h-75">
  <form action="" id="product-list" class="container-form container-form-list mt-2 p-3">
    <div class="card text-bg-danger card-list">
      <div class="card-header">
        <h2>Consulta de Pedidos</h2>
      </div>

      <div class="card-body position-relative">
        <div class="actions mb-2">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-warning" id="btnVisualizar" disabled (click)="visualizar()">Visualizar</button>
          </div>
        </div>

        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th scope="col" sortable="id" (sort)="this.gridService.sort($event)">#</th>
              <th scope="col" sortable="client" (sort)="this.gridService.sort($event)">Cliente</th>
              <th scope="col" sortable="date" (sort)="this.gridService.sort($event)">Data</th>
              <th scope="col" sortable="paymentMethod" (sort)="this.gridService.sort($event)">Forma de Pagamento</th>
              <th scope="col" sortable="state" (sort)="this.gridService.sort($event)">Situação</th>
              <th scope="col" sortable="totalPrice" (sort)="this.gridService.sort($event)">Total</th>
            </tr>
          </thead>

          <tbody>
            @for (order of orders$ | async; track $index) {
            <tr id="line{{ order.id }}" scope="row" (click)="selectItem(order.id)">
              <td>{{ order.id }}</td>
              <td>{{ order.client?.name }}</td>
              <td>{{ order.date | date: 'dd/MM/yyyy' }}</td>
              <td>{{ getPayment(order.paymentMethod) }}</td>
              <td>{{ getState(order.state) }}</td>
              <td>R$ {{ order.totalPrice?.toFixed(2)?.replace(".", ",") }}</td>
            </tr>
            }
          </tbody>
        </table>

        <div class="d-flex justify-content-between p-2 position-absolute bottom-0">
          <ngb-pagination [collectionSize]="this.gridService.state.total" [(page)]="this.gridService.state.page"
            [pageSize]="this.gridService.state.pageSize" (pageChange)="this.gridService.refresh()">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </form>
</div>
