<app-menu></app-menu>
<div class="container h-75">
  <form
    action=""
    id="product-list"
    class="container-form container-form-list mt-2 p-3"
  >
    <div class="card text-bg-danger card-list">
      <div class="card-header">
        <h2>Consulta de Pedidos</h2>
      </div>

      <div class="card-body">
        <div class="actions mb-2">
          <div class="btn-group" role="group">
            <button
              type="button"
              class="btn btn-primary"
              id="btnIncluir"
              (click)="incluir()"
            >
              Incluir
            </button>
            <button
              type="button"
              class="btn btn-warning"
              id="btnEditar"
              disabled
              (click)="editar()"
            >
              Editar
            </button>
            <button
              type="button"
              class="btn btn-danger"
              id="btnExcluir"
              disabled
              (click)="confirmDelete()"
            >
              Excluir
            </button>
          </div>
        </div>

        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cliente</th>
              <th scope="col">Data</th>
              <th scope="col">Forma de Pagamento</th>
              <th scope="col">Situação</th>
              <th scope="col">Total</th>
            </tr>
          </thead>

          <tbody>
            @for (order of orders; track $index) {
            <tr
              id="line{{ order.id }}"
              scope="row"
              (click)="selectItem(order.id)"
            >
              <td>{{ order.id }}</td>
              <td>{{ order.client?.name }}</td>
              <td>{{ order.date }}</td>
              <td>{{ order.paymentMethod }}</td>
              <td>{{ order.state }}</td>
              <td>{{ order.totalPrice }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>
