<app-menu></app-menu>
<div class="container h-75">
  <form [formGroup]="formulario" id="user-edit" class="container-form mt-2 p-3">
    <div class="card text-bg-danger card-list">
      <div class="card-header">
        <h2>Edição de Usuário</h2>
      </div>
      <div class="card-body">

        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <label for="login" class="form-label">Login</label>
            <input formControlName="login" type="email" class="form-control mb-3"
              [class.is-invalid]="formulario.get('login')?.invalid && formulario.get('login')?.touched"
              [class.is-valid]="formulario.get('login')?.valid && formulario.get('login')?.touched" id="login" />

            <div class="invalid-feedback d-flex flex-column">
              <span *ngIf="formulario.get('login')?.errors?.['required']">
                O login é de preenchimento obrigatório.
              </span>
              <span *ngIf="formulario.get('login')?.errors?.['email']">
                O login deve ser um email.
              </span>
            </div>
          </div>

          <div class="col-12 col-md-6 mb-3">
            <label for="name" class="form-label">Nome</label>
            <input formControlName="name" type="text" class="form-control mb-3"
              [class.is-invalid]="formulario.get('name')?.invalid && formulario.get('name')?.touched"
              [class.is-valid]="formulario.get('name')?.valid && formulario.get('name')?.touched" id="name" />

            <div class="invalid-feedback d-flex flex-column">
              <span *ngIf="formulario.get('name')?.errors?.['required']">
                O nome é de preenchimento obrigatório
              </span>
              <span *ngIf="formulario.get('name')?.errors?.['pattern']">
                O nome deve conter somente letras.
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <label for="password" class="form-label">Senha</label>
            <input formControlName="password" type="password" class="form-control mb-3"
              [class.is-invalid]="formulario.get('password')?.invalid && formulario.get('password')?.touched"
              [class.is-valid]="formulario.get('password')?.valid && formulario.get('password')?.touched"
              id="password" />

            <div class="invalid-feedback d-flex flex-column">
              <span *ngIf="formulario.get('password')?.touched && formulario.get('password')?.hasError('minlength')">
                A senha deve ter pelo menos 8 caracteres.
              </span>
              <span
                *ngIf="formulario.get('password')?.touched && formulario.get('password')?.hasError('missingUppercase')">
                A senha deve conter pelo menos uma letra maiúscula.
              </span>
              <span
                *ngIf="formulario.get('password')?.touched && formulario.get('password')?.hasError('missingLowercase')">
                A senha deve conter pelo menos uma letra minúscula.
              </span>
              <span
                *ngIf="formulario.get('password')?.touched && formulario.get('password')?.hasError('missingNumber')">
                A senha deve conter pelo menos um número.
              </span>
              <span
                *ngIf="formulario.get('password')?.touched && formulario.get('password')?.hasError('missingSymbol')">
                A senha deve conter pelo menos um símbolo (&#64;, $, !, %, *, ?, &).
              </span>
            </div>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label for="confirm-password" class="form-label">Confirmação de senha</label>
            <input formControlName="confirmPassword" type="password" class="form-control"
              [class.is-invalid]="formulario.get('password')?.invalid && formulario.get('password')?.touched"
              [class.is-valid]="formulario.get('password')?.valid && formulario.get('password')?.touched"
              id="confirm-password" />

            <div class="invalid-feedback d-flex flex-column">
              <span *ngIf="formulario.get('confirmPassword')?.touched && formulario.hasError('passwordMismatch')">
                A confirmação de senha não coincide.
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="actions p-2 actions-create">
        <div class="btn-group w-25" role="group">
          <button type="button" class="btn btn-success" (click)="salvar()">
            Salvar
          </button>
          <button type="button" class="btn btn-primary" (click)="cancelar()">
            Cancelar
          </button>
        </div>
      </div>
    </div>

    <div class="mt-3">
      <ngb-alert [dismissible]="false" *ngIf="formulario.get('login')?.hasError('backendError')">
        {{ formulario.get("login")?.getError("backendError") }}
      </ngb-alert>
    </div>
  </form>
</div>
