<div class="list-view">

  <span># Inputs</span>

  <div class="list-view-group">
    <input-text label="Input Text" placeholder="Informe um texto" class="teste"></input-text>
    <input-text label="Input Text [disabled]" class="teste" [disabled]="true"></input-text>
  </div>

  <div class="list-view-group">
    <input-numeric label="Input Numeric" placeholder="Informe um numero"></input-numeric>
    <input-numeric label="Input Numeric" [disabled]="true"></input-numeric>
  </div>

  <span># Inputs Validations</span>

</div>
