<app-menu></app-menu>
<div class="container h-75">
  <form
    action=""
    id="product-list"
    class="container-form container-form-list mt-2 p-3"
  >
    <div class="card text-bg-danger card-list">
      <div class="card-header">
        <h2>Consulta de Produtos</h2>
      </div>

      <div class="card-body">
        <div class="actions mb-2">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" (click)="incluir()">
              Incluir
            </button>
            <button
              type="button"
              class="btn btn-warning"
              [disabled]="disableButtons"
              (click)="editar()"
            >
              Editar
            </button>
            <button
              type="button"
              class="btn btn-danger"
              [disabled]="disableButtons"
              (click)="confirmDelete()"
            >
              Excluir
            </button>
          </div>
          <button
            type="button"
            class="btn btn-success"
            id="btnAddCarrinho"
            [disabled]="this.disableButtons"
            (click)="addCarrinho()"
          >
            Adicionar ao Carrinho
          </button>
        </div>

        <div ngbAccordion [closeOthers]="true" class="accordion-dark">
          @for (item of this.list?.categorias; track item) {
          <div ngbAccordionItem>
            <h2 ngbAccordionHeader (click)="resetButtonState()">
              <button ngbAccordionButton>{{ item?.category?.name }}</button>
            </h2>
            <div ngbAccordionCollapse>
              @for (product of item?.products; track product) {
              <div ngbAccordionBody>
                <ng-template>
                  <ngb-alert
                    (click)="this.selectAlert(product.id)"
                    id="line{{ product.id }}"
                    [dismissible]="false"
                    type="dark"
                    class="d-flex justify-content-between"
                  >
                    <span class="text-left">{{ product.description }}</span>
                    <span class="text-right"
                      >R$ {{ product.value.toFixed(2).replace(".", ",") }}</span
                    >
                  </ngb-alert>
                </ng-template>
              </div>
              }
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </form>
</div>
