/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #2C2A29;
}

app-root {
  min-height: 100%;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: .3rem;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: .3rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Table */
.table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
.table-dark th{
  background-color: #3A3735;;
  color: #f1f1f1;
}
.table th {
  border-top: 2px solid #777;
  border-bottom: 2px solid #777;
}
.table th:last-child {
  border-right: 2px solid #777;
}
.table th:first-child {
  border-left: 2px solid #777;
}
.table tbody tr td:last-child {
  border-right: 2px solid #777;
}
.table tbody tr td:first-child {
  border-left: 2px solid #777;
}
.table tbody tr:last-child td {
  border-bottom: 2px solid #777;
}
.table-hover > tbody > tr:hover > * {
  --bs-table-bg-state: #3A3735 !important;
  --bs-table-color-state: white !important;
  cursor: pointer;
}

.table-hover > tbody > .row-selected:hover > * {
  --bs-table-bg-state: #434343 !important;
}

.row-selected td {
  background-color: #434343 !important;
}

/* FimTable */

/* Others */
.actions {
  display: flex;
  justify-content: flex-end;
}

.card-list{
  height: 100%;
  min-height: 77vh;
}

.container-form {
  background-color: #3A3735;
  border-radius: 4px;
  height: auto;
}

.container-form-list{
  min-height: 83vh;
}

.text-bg-danger{
  background-color: #44403F !important;
}

.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Botões */
/* Botão Primary */
.btn-primary {
  background-color: #337781;
  border-color: #285f67;
  transition: background-color 0.3s, border-color 0.3s;
}
.btn-primary:hover {
  background-color: #285f67;
  border-color: #1e4e55;
}
.btn-primary:focus, .btn-primary.focus {
  background-color: #285f67;
  border-color: #1e4e55;
  box-shadow: 0 0 0 0.25rem rgba(51, 119, 129, 0.5);
}
.btn-danger {
  --bs-btn-color: #fff; /* Cor do texto */
  --bs-btn-bg: #9c3b3b; /* Cor de fundo personalizada */
  --bs-btn-border-color: #9c3b3b; /* Cor da borda personalizada */
  --bs-btn-hover-color: #fff; /* Cor do texto no hover */
  --bs-btn-hover-bg: #7a2929; /* Cor de fundo no hover */
  --bs-btn-hover-border-color: #7a2929; /* Cor da borda no hover */
  --bs-btn-focus-shadow-rgb: 156,59,59; /* Cor da sombra no foco */
  --bs-btn-active-color: #fff; /* Cor do texto no estado ativo */
  --bs-btn-active-bg: #7a2929; /* Cor de fundo no estado ativo */
  --bs-btn-active-border-color: #7a2929; /* Cor da borda no estado ativo */
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); /* Sombra no estado ativo */
  --bs-btn-disabled-color: #fff; /* Cor do texto no estado desabilitado */
  --bs-btn-disabled-bg: #9c3b3b; /* Cor de fundo no estado desabilitado */
  --bs-btn-disabled-border-color: #9c3b3b; /* Cor da borda no estado desabilitado */
}
/* Customizando o botão Warning */
.btn-warning {
  --bs-btn-color: #fff;
  --bs-btn-bg: #d39e00;
  --bs-btn-border-color: #d39e00;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #c68a00;
  --bs-btn-hover-border-color: #c68a00;
  --bs-btn-focus-shadow-rgb: 211,158,0;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #c68a00;
  --bs-btn-active-border-color: #c68a00;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #d39e00;
  --bs-btn-disabled-border-color: #d39e00;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #218838;
  --bs-btn-border-color: #218838;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1c7430;
  --bs-btn-hover-border-color: #1c7430;
  --bs-btn-focus-shadow-rgb: 33,136,56;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1c7430;
  --bs-btn-active-border-color: #1c7430;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #218838;
  --bs-btn-disabled-border-color: #218838;
}

.modal-dark-header {
  background-color: #343a40;
  color: white;
}

.modal-dark-body {
  background-color: #343a40;
  color: white;
}

.modal-dark-footer {
  background-color: #343a40;
  border-top: 1px solid #444;
}

.btn-close-white {
  filter: invert(1);
}

.invalid-feedback{
  color: #ff7a87;
}
.valid-feedback{
  color: #21ad6c;
}
.alert-selected {
  --bs-alert-color: #d4edda !important;
  --bs-alert-bg: #1e2b20 !important;
  --bs-alert-border-color: #28a745 !important;
  --bs-alert-link-color: #c3e6cb !important;
}
.modal-content {
  color: white;
  background-color: #3A3735;
}
