html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@mixin mat-button-custom($color) {
  background-color: $color;
  color: white;

  &:hover {
    background-color: darken($color, 10%);
  }
}

.btn-success {
  @include mat-button-custom(green);
}

.btn-danger {
  @include mat-button-custom(red);
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
