/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #ff3131;
}

app-root {
  min-height: 100%;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: .3rem;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: .3rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Table */
.row-selected td {
  background-color: #cb5151 !important;
}

table .selected-row:hover {
  background-color: #cb5151 !important;
}

/* Others */
.actions {
  display: flex;
  justify-content: flex-end;
}

.container-form {
  background-color: #a00000;
  border-radius: 4px;
}

.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}