/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  background-color: #eeeeee;
  width: 100vw;
  min-height: 100vh;
}

*,
a {
  color: #272727;
}

.readonly {
  cursor: not-allowed;
}